################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChatsMigration/.vs/ChatsMigration/DesignTimeBuild/.dtbcache.v2
